
<html>
 <head>
   <title>The Gossip Project</title>
 </head>
 <body>
   <h1>Mon super site de gossip !</h1>
   <p>La liste des potins :</p>
   <% gossips.each do |gossip| %>
       <p>
         <%= gossip.author %><br/>
         <%= gossip.content %>
       </p>
     <% end %>
   <a href="/gossips/new/">Créer un nouveau potin</a>
 </body>
</html>
